/*.followImg {
	width:120px;height:25px;
	background:url(../images/followSprite.jpg) no-repeat;
	-webkit-background:url(../images/followSprite.jpg) no-repeat 0 -23px;
	-moz-background:url(../images/followSprite.jpg) no-repeat 0 -23px;
}*/