<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/roundabout.js"></script>
<script type="text/javascript" src="js/roundabout_shapes.js"></script>
<script type="text/javascript" src="js/gallery_init.js"></script>
<!--[if lt IE 7]>
<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/ie9.js"></script>
<![endif]-->
</head>
<body>
<!-- 代码 开始 -->


<section id="gallery">
	<div class="container">
		<ul id="myRoundabout">
		<li><img src="images/slide3.jpg" alt=""></li>
		<li><img src="images/slide2.jpg" alt=""></li>
		<li><img src="images/slide5.jpg" alt=""></li>
		<li><img src="images/slide1.jpg" alt=""></li>
		<li><img src="images/slide4.jpg" alt=""></li>
	  </ul>
	</div>
</section>
<!-- 代码 结束 -->


</body>
</html>